<html>
  <body>

    <div class="test-a">
      <div>
        <span>名前</span>
        <input type="text" class="test-name" id="sample" name="sample" />
      </div>
      <div>
        <span>電話番号</span>
        <input type="text" class="test-tel" id="sample" name="sample" />
      </div>
      <div>
        <span class="test1"></span>
        <span class="test2"></span>
      </div>
      <div>
        <a class="test">送信</a>
      </div>
    </div>

    </br>
    <div class="test-b">
      <div>
        <span>性別</span>
        <input class="gender" type="radio" name="gender" value="1" checked="checked" />男性
		    <input class="gender" type="radio" name="gender" value="2" />女性
      </div>
      <div>
        <span>生年月日</span>
        <select class="birthday-year">
          <option value="2024">2024</option>
          <option value="2023">2023</option>
          <option value="2022">2022</option>
        </select>
        <select class="birthday-month">
          <option value="1">1月</option>
          <option value="2">2月</option>
          <option value="3">3月</option>
          <option value="4">4月</option>
          <option value="5">5月</option>
          <option value="6">6月</option>
          <option value="7">7月</option>
          <option value="8">8月</option>
          <option value="9">9月</option>
          <option value="10">10月</option>
          <option value="11">11月</option>
          <option value="12">12月</option>
        </select>
        <select class="birthday-day">
          <option value="1">1日</option>
          <option value="2">2日</option>
          <option value="3">3日</option>
          <option value="4">4日</option>
          <option value="5">5日</option>
          <option value="6">6日</option>
          <option value="7">7日</option>
          <option value="8">8日</option>
          <option value="9">9日</option>
          <option value="10">10日</option>
          <option value="11">11日</option>
          <option value="12">12日</option>
          <option value="13">13日</option>
          <option value="14">14日</option>
          <option value="15">15日</option>
          <option value="16">16日</option>
          <option value="17">17日</option>
          <option value="18">18日</option>
          <option value="19">19日</option>
          <option value="20">20日</option>
          <option value="21">21日</option>
          <option value="22">22日</option>
          <option value="23">23日</option>
          <option value="24">24日</option>
          <option value="25">25日</option>
          <option value="26">26日</option>
          <option value="27">27日</option>
          <option value="28">28日</option>
          <option value="29">29日</option>
          <option value="30">30日</option>
          <option value="31">31日</option>
        </select>
      </div>
      <div>
        <span class="test1"></span>
        <span class="test2"></span>
      </div>
      <div>
        <input class="test-btn" type="button" value='送信'/>
      </div>
    </div>
  </body>
  <script>
    
    document.querySelectorAll(".test-a .test")[0].addEventListener('click', function()
    { 
      document.querySelectorAll(".test-a .test1")[0].innerText = document.querySelectorAll(".test-a .test-name")[0].value;
      document.querySelectorAll(".test-a .test2")[0].innerText = document.querySelectorAll(".test-a .test-tel")[0].value;
    });

    document.querySelectorAll(".test-b .test-btn")[0].addEventListener('click', function()
    { 
      document.querySelectorAll(".test-b .test1")[0].innerText = document.querySelector('.test-b [name="gender"]:checked').value == 1 ? "男性": "女性";
      document.querySelectorAll(".test-b .test2")[0].innerText = document.querySelectorAll(".test-b .birthday-year")[0].value + document.querySelectorAll(".test-b .birthday-month")[0].value + document.querySelectorAll(".test-b .birthday-day")[0].value;
    });

  </script>

</html>